n8n/Day 16 - AI Email Triage.json
{
  "name": "Day 16 - AI Email Triage",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "0097f88f-27ab-402c-85bf-5fb7a64a5d74",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "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"
            },
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-haiku-4-5-20251001\",\n  \"max_tokens\": 256,\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"Triage this email.\\n\\nFrom: {{ $json.from }}\\nSubject: {{ $json.subject }}\\nBody: {{ $json.body }}\\n\\nRespond ONLY with this JSON:\\n{\\\"category\\\": \\\"urgent|follow-up|newsletter|spam\\\", \\\"priority\\\": \\\"high|medium|low\\\", \\\"summary\\\": \\\"one sentence\\\", \\\"action\\\": \\\"what to do\\\"}\"\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        400,
        0
      ],
      "id": "df233016-fc96-4c63-87f6-ca0fc4ea7402",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "jsCode": "return [\n  {\n    json: {\n      from: \"boss@company.com\",\n      subject: \"URGENT: Production server is down\",\n      body: \"Hey, the production server went down 10 minutes ago. Clients are calling. Need this fixed ASAP.\"\n    }\n  },\n  {\n    json: {\n      from: \"newsletter@techdigest.com\",\n      subject: \"This week in AI — Top 10 stories\",\n      body: \"Here are the top AI stories this week: GPT-5 released, Claude gets new features, and more...\"\n    }\n  },\n  {\n    json: {\n      from: \"recruiter@bigtech.com\",\n      subject: \"Exciting opportunity for a senior developer\",\n      body: \"Hi, I came across your profile and think you'd be a great fit for a role at our company...\"\n    }\n  },\n  {\n    json: {\n      from: \"teammate@company.com\",\n      subject: \"Can you review my PR when you get a chance?\",\n      body: \"Hey Jazzmin, I pushed a fix for the login bug. No rush but let me know if you can review it today.\"\n    }\n  }\n]"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        0
      ],
      "id": "dd223d5c-214c-4e22-9a42-94c75b24fba5",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const response = $input.item.json;\nconst raw = response.content[0].text;\n\n// Strip markdown code fences Claude sometimes adds\nconst cleaned = raw\n  .replace(/```json\\n?/g, '')\n  .replace(/```\\n?/g, '')\n  .trim();\n\nlet parsed;\ntry {\n  parsed = JSON.parse(cleaned);\n} catch(e) {\n  parsed = { error: \"Could not parse\", raw: cleaned };\n}\n\nreturn {\n  json: {\n    from: $input.item.json.from || \"unknown\",\n    subject: $input.item.json.subject || \"unknown\",\n    ...parsed\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        560,
        0
      ],
      "id": "d16abb72-57eb-481e-803d-9cec385a6839",
      "name": "Code in JavaScript1"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "1732c63e-87c6-44ad-92a0-9f8dcdf38893",
  "meta": {
    "instanceId": "98803a3a15c257770f1ab18be12d4183c78b10c1296ca08eb204637d5012cecb"
  },
  "id": "ocDZG7134IdzvbhH",
  "tags": []
}